.navbar-toggle {
  padding: 0;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 8.75px -20px;
}
@media (min-width: 991px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #383838 0%, #2f2f2f 100%);
  background-image: -o-linear-gradient(top, #383838 0%, #2f2f2f 100%);
  background-image: linear-gradient(to bottom, #383838 0%, #2f2f2f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff2f2f2f', GradientType=0);
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #bebebe;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > li > a {
    padding: 0 20px;
    line-height: 55px;
  }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #222222;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background: #ffcc00;
}
.navbar-default .navbar-nav > .active > a > .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #ffcc00;
  color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .fa-bars {
  background-color: transparent;
  color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebebeb;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #222222;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #bebebe;
  border-bottom-color: #bebebe;
}
@media (max-width: 991px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    background: #ebebeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    border-top-color: #dedede;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #bebebe;
    padding: 20px 20px 20px 30px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #222222;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #222222;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}
@media screen and (max-width: 991px) {
  .navbar-default .navbar-nav .open .level2.dropdown-menu {
    background: #dedede;
    border-top: 1px solid #d2d2d2;
    margin-top: 0;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li {
    border-top-color: #d2d2d2;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li > a {
    padding-left: 40px;
    color: #444444;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li > a:hover {
    color: #fff;
  }
}
.navbar-default .navbar-link {
  color: #bebebe;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.t3-mainnav {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, #d8dadb 1px 1px, #d8dadb 2px 2px, #d9dbdc 3px 3px, #d9dbdc 4px 4px, #dadcdd 5px 5px, #dadcdd 6px 6px, #dadcdd 7px 7px, #dbddde 8px 8px, #dbddde 9px 9px, #dcdedf 10px 10px, #dcdedf 11px 11px, #dcdedf 12px 12px, #dddfe0 13px 13px, #dddfe0 14px 14px, #dee0e1 15px 15px, #dee0e1 16px 16px, #dee0e1 17px 17px, #dfe1e2 18px 18px, #dfe1e2 19px 19px, #e0e2e3 20px 20px, #e0e2e3 21px 21px, #e0e2e3 22px 22px, #e1e3e4 23px 23px, #e1e3e4 24px 24px, #e2e4e5 25px 25px, #e2e4e5 26px 26px, #e2e4e5 27px 27px, #e3e5e6 28px 28px, #e3e5e6 29px 29px, #e4e6e7 30px 30px, #e4e6e7 31px 31px, #e4e6e7 32px 32px, #e5e7e8 33px 33px, #e5e7e8 34px 34px, #e6e8e9 35px 35px, #e6e8e9 36px 36px, #e6e8e9 37px 37px, #e7e9ea 38px 38px, #e7e9ea 39px 39px, #e8eaeb 40px 40px, #e8eaeb 41px 41px, #e8eaeb 42px 42px, #e9ebec 43px 43px, #e9ebec 44px 44px, #eaeced 45px 45px, #eaeced 46px 46px, #eaeced 47px 47px, #ebedee 48px 48px, #ebedee 49px 49px, #eceeef 50px 50px, #eceeef 51px 51px, #eceeef 52px 52px, #edeff0 53px 53px, #edeff0 54px 54px, #eef0f1 55px 55px, #eef0f1 56px 56px, #eef0f1 57px 57px, #eff1f2 58px 58px, #eff1f2 59px 59px, #f0f2f3 60px 60px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, #d8dadb 1px 1px, #d8dadb 2px 2px, #d9dbdc 3px 3px, #d9dbdc 4px 4px, #dadcdd 5px 5px, #dadcdd 6px 6px, #dadcdd 7px 7px, #dbddde 8px 8px, #dbddde 9px 9px, #dcdedf 10px 10px, #dcdedf 11px 11px, #dcdedf 12px 12px, #dddfe0 13px 13px, #dddfe0 14px 14px, #dee0e1 15px 15px, #dee0e1 16px 16px, #dee0e1 17px 17px, #dfe1e2 18px 18px, #dfe1e2 19px 19px, #e0e2e3 20px 20px, #e0e2e3 21px 21px, #e0e2e3 22px 22px, #e1e3e4 23px 23px, #e1e3e4 24px 24px, #e2e4e5 25px 25px, #e2e4e5 26px 26px, #e2e4e5 27px 27px, #e3e5e6 28px 28px, #e3e5e6 29px 29px, #e4e6e7 30px 30px, #e4e6e7 31px 31px, #e4e6e7 32px 32px, #e5e7e8 33px 33px, #e5e7e8 34px 34px, #e6e8e9 35px 35px, #e6e8e9 36px 36px, #e6e8e9 37px 37px, #e7e9ea 38px 38px, #e7e9ea 39px 39px, #e8eaeb 40px 40px, #e8eaeb 41px 41px, #e8eaeb 42px 42px, #e9ebec 43px 43px, #e9ebec 44px 44px, #eaeced 45px 45px, #eaeced 46px 46px, #eaeced 47px 47px, #ebedee 48px 48px, #ebedee 49px 49px, #eceeef 50px 50px, #eceeef 51px 51px, #eceeef 52px 52px, #edeff0 53px 53px, #edeff0 54px 54px, #eef0f1 55px 55px, #eef0f1 56px 56px, #eef0f1 57px 57px, #eff1f2 58px 58px, #eff1f2 59px 59px, #f0f2f3 60px 60px;
}
@media (min-width: 991px) {
  .t3-mainnav > .container {
    position: relative;
  }
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.t3-mainnav .t3-navbar-collapse {
  margin-top: 55px;
}
@media (min-width: 991px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -20px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #000;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a:hover {
  background: #ffcc00;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown-menu {
  background: #444;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu {
  left: -1px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:hover,
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:focus {
  background: #ffcc00;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 50%;
  right: 12px;
}
.css-sticky.sticky-menu {
  position: fixed;
  right: 0;
  z-index: 99999;
  left: 0;
  top: 0;
}
.css-sticky.sticky-menu .t3-mainnav {
  box-shadow: none !important;
}