.dropdown-menu {
  background-color: #353535;
  border: 1px solid #504e4e;
}
.t3-megamenu .mega-nav > li a,
.t3-megamenu .dropdown-menu .mega-nav > li a {
  color: #fff !important;
}
.t3-megamenu .mega-nav > li:first-child,
.t3-megamenu .dropdown-menu .mega-nav > li:first-child,
.t3-megamenu .mega-nav > li,
.t3-megamenu .dropdown-menu .mega-nav > li {
  border-color: #504e4e !important;
}
.t3-megamenu .mega-nav > li a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li a:hover,
.t3-megamenu .mega-nav > li a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.current > a {
  background: #ffcc00 !important;
}
.t3-megamenu .dropdown-header:hover,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover {
  background: transparent !important;
  cursor: default !important;
}
.t3-megamenu .t3-module .module-title {
  color: #fff !important;
}
.t3-megamenu .module-ct {
  color: #fff;
}

.th-box,
.th-page-header,
.margin-right-wrapper,
.margin-left-wrapper,
.th-box-wrapper,
.t3-mainnav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.sp_social ul li {
  border-right: 0;
}
.sp_social ul li i.fa {
  color: #fff;
}
.th-login #btl .btl-panel span i.fa {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  color: #fff;
}
.th-box,
.th-page-header,
.margin-right-wrapper,
.margin-left-wrapper,
.th-box-wrapper,
.t3-spotlight-1 .sprocket-strips-content,
.active .sprocket-lists-item,
.btl-content-block {
  background: #3d3c3c !important;
}
.sprocket-strips-content h4 a {
  color: #ffffff !important;
}
.sprocket-strips-content h4 a:hover {
  color: #ffcc00 !important;
}
.sprocket-tabs-nav,
.client-logo .moduletable h3,
.t3-copyright,
.sprocket-lists-title,
.navbar-default {
  background: #363535 !important;
}
.sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
  background: #504e4e !important;
}
.client-logo .moduletable h3,
.client-logo,
.t3-copyright {
  border: 0 !important;
}
.th-footer .th-footer-module .module-inner:before {
  border-bottom: 1px solid #504e4e !important;
  color: #434242;
}
.th-footer .module-title span {
  color: #fff;
}
.sprocket-lists-title {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.th-read-more {
  border-top-color: #666 !important;
}

.productdetails-view .product-fields-title strong,
#virtuemart_currency_id_chzn a,
.t3-sidebar .vmgroup .vmproduct h3 a,
.css-vmshop-customer-login div > a {
  color: #fff !important;
}
.product-field-display a.chzn-single,
#virtuemart_currency_id_chzn a,
#virtuemart_currency_id_chzn .chzn-drop,
.t3-sidebar .vmgroup .vmproduct .spacer > a,
.t3-sidebar .vmgroup ul.vmproduct li > a,
.list-reviews .normal,
.css-vmshop-customer-login,
.css-shop-regform input,
.css-shop-regform a.chzn-single,
.orderlistcontainer div.activeOrder,
.orderlistcontainer div.orderlist {
  border: 1px solid #504e4e !important;
}
.productdetails-view .product-price,
.t3-sidebar .VMmenu > li,
.t3-sidebar ul.vmmanufacturer > li,
table.cart-summary tr th,
.cart-summary tr.sectiontableentry1 {
  border-bottom: 1px solid #504e4e !important;
}
span.custom-variant-inputbox input.custom-attribute:hover,
span.quantity-box input.quantity-input:hover,
input.vm-default:hover,
span.quantity-box input.quantity-input:hover,
.ask-a-question-view input.counter:hover,
.ask-a-question-view input#email:hover,
table.user-details input:hover,
a.ask-a-question:hover,
a.details:hover,
div.details:hover,
a.product-details:hover,
button.default:hover,
.css-shop-regform input,
.css-shop-regform input:focus {
  color: #fff;
}

.ratingbox div,
.ratingbox span {
  background-position: 0 -53px !important;
}
.css-product h3 a,
.orderlistcontainer a {
  color: #fff;
}
.vm-product-media-container {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.css-product h3 {
  border-bottom: 1px solid #504e4e !important;
}
.orderlistcontainer div.orderlist {
  background: #363535 !important;
  color: #fff;
}

.productdetails-view .vm-product-media-container,
.list-reviews span.date {
  border: 0 !important;
}
.product-field-display .chzn-container .chzn-drop,
.css-productdetails-tab .tab-content,
#virtuemart_currency_id_chzn .chzn-drop {
  background: #363535 !important;
  color: #fff;
}
.product-field-display a.chzn-single {
  color: #979797 !important;
}

table.cart-summary tr th {
  background: #363535 !important;
}

.chzn-container .chzn-drop {
  background: #363535 !important;
  color: #fff;
}
.css-shop-regform a.chzn-single {
  box-shadow: none !important;
  color: #fff;
}
.sprocket-headlines-list li a.sprocket-headlines-text {
  color: #999 !important;
}
.magazine-links,
.category-name a,
.nav-tabs,
.tab-content,
.img-thumbnail,
article aside .dropdown-menu,
.tagspopular ul > li,
.item-page .tags a {
  border: 1px solid #504e4e !important;
}
.magazine-category-title,
.divider-vertical,
.item-page .tags {
  border-top: 1px solid #504e4e !important;
}
.magazine-category-title,
.sj-social-media-counts .sc-wrap .sc-item,
.blog .blog-item,
.module-ct > ul.archive-module li,
.tags {
  border-bottom: 1px solid #504e4e !important;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  border-top: 1px dotted #504e4e;
}
.magazine-category-title,
article aside .btn-group .btn,
article aside .dropdown-menu,
article aside .dropdown-menu li a,
.img_caption p.img_caption,
.item-page .tags a {
  background: #363535 !important;
}
.magazine-category .magazine-item-ct,
.category-module .mod-articles-category-date,
ul.category-module .mod-articles-category-date,
article aside .dropdown-menu li a,
.img_caption p.img_caption {
  color: #e5e5e5 !important;
}
.magazine-leading .magazine-item .th-slide-des .article-info .category-name a,
.sj-social-media-counts .sc-wrap .sc-item:last-child {
  border: 0 !important;
}
.sj-social-media-counts .sc-wrap .sc-item,
.sj-social-media-counts .sc-wrap .sc-item a,
.sj-social-media-counts .sc-wrap .sc-item a:hover,
article aside .btn-group .btn,
.module-ct > ul.archive-module li a,
.item-page .tags a {
  color: #fff !important;
}
.tab-content {
  border-top: 0 !important;
}
article aside .btn-group .dropdown-menu li {
  border-top-color: #504e4e;
}
.module-ct > ul.archive-module li a:hover,
.item-page .tags a:hover {
  color: #ffcc00 !important;
}
.project li {
  border: 1px solid #504e4e;
}
.th-pricing .plan,
.th-pricing .plan li.plan-details ul li:first-child,
.th-pricing .plan li.plan-details ul li,
.pricing-table .col ul li {
  border-color: #666 !important;
}
.th-pricing .plan li.plan-action a {
  background: #363535;
}
.th-pricing .featured li.plan-action a {
  background: #ffcc00;
}
.sprocket-mosaic-filter li,
.sprocket-mosaic-order li,
.sprocket-mosaic-loadmore {
  background: #363535;
}
.sprocket-mosaic-filter li,
.sprocket-mosaic-order li,
.sprocket-mosaic-loadmore,
.pricing-table .col ul {
  border: 1px solid #504e4e;
}
.sprocket-mosaic-item .sprocket-mosaic-title a {
  color: #fff;
}
.sprocket-mosaic-item .sprocket-mosaic-title a:hover {
  color: #ffcc00;
}
.gm-style-iw {
  color: #444 !important;
}
.support-policy:hover {
  background: transparent;
}
.support-policy .policy-item .col-type {
  background: #363535;
}
.support-policy .policy-item {
  border: 1px solid #504e4e;
}
.support-policy .policy-item .col-type {
  border-bottom: 1px solid #504e4e;
}
.support-policy .row-alt {
  background: #444;
}
.support-policy .row-body > div,
.support-policy .row-body {
  border-color: #504e4e !important;
}
.newsfeed-category .category,
.weblink-category .category {
  border-top: 0;
}
.newsfeed-category .category li,
.weblink-category .category li {
  background: #363535;
}
.newsfeed-category.category li,
.weblink-category .category li,
.newsfeed-category h2,
.newsfeed > h2,
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-color: #504e4e !important;
}
legend {
  color: #fff;
  border-color: #504e4e !important;
}
legend,
.form-actions {
  border-color: #504e4e !important;
}
.view-login .nav-tabs {
  background: #363535;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.inputbox {
  background: #363535;
  border-color: #504e4e !important;
  color: #fff;
}
.invalid {
  background-color: transparent !important;
}
.chzn-container-single .chzn-single {
  background: #363535 !important;
  border-color: #504e4e !important;
  color: #fff;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.chzn-container .chzn-drop {
  border-color: #504e4e !important;
}
.tag-category .filters,
.tag-category .thumbnails li {
  border-color: #504e4e !important;
}
.pagination > li > a,
.pagination > li > span,
.counter {
  background: #363535 !important;
}
.pagination > li.active > a {
  background: #ffcc00 !important;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pagination > li > a,
.counter {
  border-color: #504e4e !important;
}
.search .btn-default {
  background: #353535;
  border-color: #504e4e !important;
  color: #fff;
}